#header {
    height: 100%;
    text-align: center;
    width: auto;
    background-color: rgba(0, 0, 0, 0.5);
    position: relative;
    top: 0px;
    left: 0;
    bottom: 0;
    box-shadow: 1px 0px 10px #777;
}

#us-map {
    background-color: #fafafa;
    width: auto;
    height: 100%;
    margin-left: 250px;
    padding: 20px 30px;
}


#info-box {

    display: none;
    position: absolute;
    top: 0px;
    left: 0px;
    z-index: 1;
    background-color: #ffffff;
    border: 2px solid #BF0A30;
    border-radius: 5px;
    padding: 5px;
    font-family: arial;
}

​ ​ .content {
    margin-left: 400px ​
}

​ g:hover {
    stroke-linejoin: round;
    fill: #D3D3D3 !important;
    cursor: pointer;
    border: 2px solid black;
    outline-style: solid;
    outline-color: red;
}

.state {
    fill: #ffffff;
    stroke: #000000;
    stroke-width: 1.4;
    stroke-linejoin: round;
}